@keyframes move {
    0% {
        background-position: 0 60%, 0 50%;
    }
    100% {
        background-position: 0 60%, 100% 50%;
    }
}
body{
    background-color: #f1f1f1;

}


/*body:after{*/
    /*content: "";*/
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: -1;*/
    /*display: block;*/

    /*width: 100%;*/
    /*height: 100%;*/

    /*background-color: rgba(38, 50, 56, 0.91);*/
/*}*/
/*body:before {*/
    /*content: "";*/
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: -1;*/
    /*display: block;*/

    /*width: 100%;*/
    /*height: 100%;*/
    /**/
    /*background-color: #263645;*/
    /*background-image: url('http://timteeling.com/dev/img/network.svg'), radial-gradient(200px 500px at center, #ff8300 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));*/
    /*background-size: 125%, 50% 100%;*/
    /*background-position: 0 60%, 0 100%;*/
    /*animation: move 5s linear infinite;*/
/*}*/


/*! header ----------------------------------------*/

header{
    position: fixed;
    width: 100%;
    border-top: 2px solid #fcb501;
    top: 0;
    height: 82px;
    background-color: rgba(255,255,255,1);
    border-bottom: 1px solid #e8e8e8;
     z-index: 9999;
}
/*header > div{*/
    /*display: table;*/
    /*height: 80px;*/
/*}*/
header > div > *{
    display: table-cell;
    vertical-align: middle;
}
.site-branding {
    /*float: left;*/
    /*margin: 0 0 0 53px;*/
    /*width: 170px;*/
    /*transition: all .5s ease;*/

    /*display: table;*/
    /*height: 80px;*/



    float: left;
    margin: 0 25px;
    /* width: 219px; */
    width: 90px;
    transition: all .5s ease;
    display: table;
    height: 80px;

}
.site-branding a {
    line-height: 0;
    transition: all .5s ease;

    display: table-cell;
    vertical-align: middle;
}

.site-branding a > img {
    max-width: 100%;
}

.nav {
    display: inline-block;
    /*background: #FFFFFF;*/
    border-radius: 3px;
    /* border-top: 2px solid #ffce54; */

    /* height: 60px; */
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.nav > ul > li {
    position: relative;
    display: inline-block;
    /*border-left: 1px solid rgba(0, 0, 0, 0.05);*/
    vertical-align: middle;
    float: left;
}
.nav ul li:first-child,
.nav ul li:nth-child(2),
.nav ul li:last-child {
    border-left: 0;
}
.nav ul li:nth-child(2) a:before,
.nav ul li:nth-last-child(2) a:before,
.nav ul li:nth-child(2) a:after,
.nav ul li:nth-last-child(2) a:after {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
/*.nav ul li:nth-child(2) > a:before {*/
    /*z-index: 1;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -15px;*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*display: block;*/
    /*border-right: 15px solid #FFFFFF;*/
    /*border-top: 60px solid transparent;*/
/*}*/
.nav ul li:nth-last-child(2) a:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -15px;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-left: 15px solid #FFFFFF;
    border-bottom: 30px solid transparent;
}
.nav ul li:last-child > a {
    background: #fcb501;
    padding: 0 25px 0 30px;
    color: #FFFFFF;
}
.nav ul li:last-child > a:hover {
    background: #fcb501;
}
.nav ul li > a {
    position: relative;
    display: block;
    padding: 0 15px;
    color: #666666;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
    /*text-transform: uppercase;*/

    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.nav ul li > a:hover {
    background: #f2f2f2;
}
.nav ul li > a:hover:before {
    border-right: 15px solid #f2f2f2;
}
.nav ul li > a:hover:after {
    border-left: 15px solid #f2f2f2;
}
.nav ul li > a.logo {
    background: #fcb501;
    /* width: 30px; */
    /* height: 30px; */
    /* padding: 15px 30px 15px 15px; */
    /* line-height: 1; */
    vertical-align: middle;
}
.nav ul li > a.logo:hover {
    background: #ffce54;
}
.nav ul li > a.logo img {
    width: 100%;
}
.nav ul li a i {
    margin: 0 0 0 6px;
}
.nav ul li .menu {
    display: none;
    position: absolute;
    background: #FFFFFF;
    top: 100%;
    width: 180px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #fcb501;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}
.nav ul li .menu li {
    display: block;
    width: 100%;
    height: 45px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.nav ul li .menu li:nth-child(2),
.nav ul li .menu li:nth-last-child(2) {
    height: 45px;
}
.nav ul li .menu li:nth-child(2) a:before,
.nav ul li .menu li:nth-last-child(2) a:before,
.nav ul li .menu li:nth-child(2) a:after,
.nav ul li .menu li:nth-last-child(2) a:after {
    content: '';
    display: none;
}
.nav ul li .menu li a {
    background: #FFFFFF;
    padding: 0 15px 0 30px;
    color: #666666;
    line-height: 45px;
    text-align: left;
}
.nav ul li .menu li a:hover {
    background: #f2f2f2;
}


header .nav, header .menu{
    width: 42%;
    float: right;
}



.menu{
    float: right;
}

.menu > ul{
    float: right;
    list-style: none;
    margin: 0;
    /*padding: 0 30px 0 0;*/
}
.menu > ul > li {
    float: left;
    position: relative;
}

.menu > ul > li > a {
    color: #666666;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    padding: 16px 20px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    transition: all 0.4s ease;
}

.menu ul li a:hover {
    color: #6bbef4;
    text-decoration: none;
}



.menu-dropdown {

    opacity: 0;

    height: 0;
    /*padding-bottom: 0;*/
    pointer-events: none;
    position: fixed;
    left: 0;
    width: 100%;

    /*padding: 10px;*/
    overflow: hidden;
    z-index: 490;
    background: #000000;
    background: rgba(0,0,0,0.75);
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;




}
.menu-dropdown .dropdown-item {

    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-dropdown .dropdown-item img {
    height: 120px;
    width: auto;
    display: block;
}
.menu-dropdown .dropdown-item .title {
    display: block;
    display: -webkit-box;
    text-align: left;
    max-width: 100%;
    max-height: 2.4em;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.03em;
    font-size: 1.3em;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
    background: -moz-linear-gradient(top,transparent 0%,rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,transparent),color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,transparent 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,transparent 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=0);
}

.menu ul li:hover .menu-dropdown {
    /*opacity: 0;*/
    /*pointer-events: none;*/
    /*height: 0;*/
    /*padding-bottom: 0;*/
    padding: 10px;
    pointer-events: auto;
    opacity: 1;
    height: 140px;
}


.sub-menu-list-item ul li{
    float: left;
    margin: 0 10px 10px 0;
    top: 0;
    position: relative;
    min-width: 100px;
    height: 120px;
}

.search{
    display: table;
    height: 80px;
    float: left;
}

#search ul li {
    position: relative;
    display: inline-block;
    /* border-left: 1px solid rgba(0, 0, 0, 0.05); */
    vertical-align: middle;
    float: left;
}


#search ul li:first-child, #search ul li:nth-child(2), #search ul li:last-child {
    border-left: 0;
}
#search ul li:nth-last-child(2) a:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -15px;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-left: 15px solid #FFFFFF;
    border-bottom: 35px solid transparent;
}
#search ul li a {
    position: relative;
    display: block;
    padding: 0 15px;
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
#search ul li:last-child a {
    background: #fcb501;
    padding: 0 25px 0 30px;
    color: #FFFFFF;
    line-height: 37px;
}
#search ul li:first-child a{
    padding: 0;
}
#search input[type=search] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fcb501;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;

    -webkit-appearance: none;

    font-size: 16px;
    color: #0b1f2c;
    line-height: 2;
    /* top: -100px; */
    width: 320px;
    padding: 1px 10px;
}

/*.input-search:after {*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*top: 0;*/
    /*right: -15px;*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*display: block;*/
    /*border-left: 15px solid #FFFFFF;*/
    /*border-bottom: 34px solid transparent;*/
/*}*/






.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-autocomplete {
    z-index: 9999;
}




.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff !important;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

/*.ui-state-hover, .ui-state-active:hover {*/
    /*!*color: #ffffff;*!*/
    /*color: #0088cc;*/
    /*border: none;*/
    /*text-decoration: none;*/
    /*font-weight: inherit;*/
    /*background-color: transparent;*/
    /*border-radius: 0px;*/
    /*-webkit-border-radius: 0px;*/
    /*-moz-border-radius: 0px;*/
    /*background-image: none;*/
/*}*/

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    /*border: 1px solid #003eff;*/
    /*background: #007fff;*/
    /*font-weight: normal;*/
    /*color: #ffffff;*/

    border: 1px solid transparent;
    background: transparent;
    font-weight: inherit;
    /*color: #0088cc;*/
    color: #08c;
}











/*! nav login ----------------------------------------*/


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);

    right: 0;
    left: auto;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,0.99);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-google:hover {
    color:#fff;
    background-color:#c23321;
}






/*! menu left ----------------------------------------*/

.side-menu {
    position: fixed;
    z-index: 9998;
    background: white;
    height: calc(100vh - 82px);
    /* bottom: 0; */
    -webkit-transition: left 0.3s ease, right 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-menu.-left {
    width: 300px;
    left: -300px;
    top: 82px;
    padding: 15px;

    padding-bottom: 70px;
}
.side-menu.-right {
    width: 440px;
    right: -440px;
    box-shadow: inset 3px 0 2px -3px rgba(0, 0, 0, 0.4);
}
.side-menu.-sticky {
    height: calc(100vh -  60px);
}
.side-menu.-left.-active {
    left: 0;
}
.side-menu.-right.-active {
    right: 0;
}
.side-menu .section span {
    display: block;
    padding: 15px 15px 15px 35px;
    color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.side-menu > .section:first-child span {
    border-top: none;
}
.side-menu .option {
    font-weight: 400;
    position: relative;
}
.side-menu .option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.side-menu .option a:first-child {
    display: block;
    /*padding: 15px 15px 15px 35px;*/
    padding: 10px 15px 10px 35px;
    color: rgba(0, 0, 0, 0.84);
}
.side-menu .option a:first-child:hover,
.side-menu .option a:first-child:focus {
    text-decoration: none;
}
.side-menu .option a:first-child > i.icon {
    vertical-align: middle;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.54);
}
.side-menu .option a:first-child > img.icon {
    width: 24px;
    opacity: 0.54;
    margin-right: 20px;
    margin-left: 2px;
}
.side-menu .option a:first-child.-active {
    color: #1d8b90;
    background-color: rgba(0, 0, 0, 0.05);
}
.side-menu .option a:first-child.-active i {
    color: #1d8b90;
}
.side-menu .option .helptoggle {
    position: absolute;
    opacity: 0;
    z-index: 10;
    right: 0;
    top: 0;
    padding: 20px 10px;
    line-height: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.side-menu .option .helptoggle:focus {
    opacity: 1;
}
.side-menu .option .helptoggle i.icon {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.2);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.side-menu .option .helptoggle:hover i.icon {
    color: rgba(0, 0, 0, 0.3);
}
.side-menu .option:hover .helptoggle,
.side-menu .option a:first-child:focus + .helptoggle {
    opacity: 1;
}



@media (max-width: 1199px) {
    .side-menu.-left.-active ~ .container-fluid {
        padding-left: 15px;
    }
    /*.side-menu.-left {*/
        /*z-index: 120;*/
        /*top: 0;*/
        /*height: 100vh !important;*/
    /*}*/
    .side-menu.-left.-active ~ .sidemenu-backdrop.-left {
        opacity: 1;
        pointer-events: all;
    }
}
@media (max-width: 1920px) {
    .side-menu.-right.-active ~ .container-fluid {
        padding-right: 15px;
    }
    .side-menu.-right {
        z-index: 120;
        top: 0;
        height: 100vh !important;
        border-left: 0;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .side-menu.-right .header {
        height: 110px;
        background-color: #19777b;
        color: rgba(255, 255, 255, 0.84);
    }
    .side-menu.-right.-active ~ .sidemenu-backdrop.-right {
        opacity: 1;
        pointer-events: all;
    }
    .side-menu.-right .-hidden-notlg {
        display: none;
    }
}
.close {
    text-shadow: none;
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}
.close:hover,
.close:focus {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}
hr.seperator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px -15px;
}
i.-icontext {
    font-size: 14px;
}


html{
    height: 100%;
}
body {
    min-height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.wrapper{
    min-height: 100%;
    position: relative;
    margin-top: 82px;

    padding-bottom: 82px;


}
.wrapper:before, .wrapper:after {
    display: table;
    content: " ";
}
.wrapper:after {
    clear: both;
}



/*! content ----------------------------------------*/

.content{
    position: relative;
    left: 300px;
    width: calc(100% - 300px);

    overflow: hidden;

}
.page-content{
    position: relative;
    /*top: 82px;*/
}


.feed-topic{
    margin: 20px 0 15px 30px;
    /*color: #ffffff;*/
    color: #ef5350;
}










/*! player ----------------------------------------*/

#audioplayer {
    position: fixed;
    left: 0;
    bottom: -1px;
    top: auto;
    color: white;

    overflow: visible;
    z-index: 9999;
    height: 70px;
    width: 100%;
}
#audioplayer .blur-container {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#audioplayer .blur-container .blur {
    position: absolute;
    background-position: center;
    background-size: cover;
    left: -50px;
    right: -50px;
    top: -50px;
    bottom: -50px;
}

#audioplayer .cover {
    position: relative;
    float: left;
    z-index: 100;
    width: 124px;
    height: 70px;
}
#audioplayer .cover img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#audioplayer .player-bar {
    position: absolute;
    margin-left: 124px;
    height: 70px;
    width: calc(100% - 124px);
    background-color: rgba(0,0,0,0.8);
}

#audioplayer .player-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#audioplayer .toggle-playing {

    float: left;
}



/* play bottom */

.play-console{
    display: inline-block;
    float: left;
    padding: 0 20px;
}
.play-console > div{
    display: inline-block;
    float: left;
}
.play-console .back svg, .play-console .forward svg{
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}
#skip-previous, #skip-next{
    fill: #fff;
}
/*.play-button {*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*float: left;*/
/*}*/
#svg-play{
    width: 60px;
    height: 70px;
}

#audioplayer .current-track {
    /* font-size: 0.9em; */
    padding: 10px;
    /* margin-left: 70px; */
    /* margin-right: 330px; */
    position: relative;
    display: table;
    float: left;
    height: 70px;
}
#audioplayer .current-track > span {
    /*position: relative;*/
    /*float: left;*/
    /*width: 100%;*/

    display: table-cell;
    vertical-align: middle;
}
#audioplayer .current-track span.artist{
    font-size: 11px;
    color: #7e8890;
}
#ytp-2{
    fill: #f12b24;
}




/* -! play progress */

#play-progress-container{
    height: 30px;
    width: 400px;
}

.center-container {
    display: block;
    margin: auto;
}
.middle-center-container {
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slider-container {
    position: relative;
    /* float: left; */
    margin: 0 20px;
    /* width: 100%; */
    height: 70px;
    /* background-color: #dbdbdb; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.slider-container .slider-tooltip {
    display: block;
    position: absolute;
    top: -15px;
    /*height: 30px;*/
    /*width: 100px;*/
    /*background-color: #1e3958;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*box-shadow: 0 5px 10px #333; -webkit-box-shadow: 0 5px 10px #333; -moz-box-shadow: 0 5px 10px #333;*/

    visibility: hidden;
    opacity: 0;

}
.slider-container .slider-tooltip.-active{
    visibility: visible;
    opacity: 1;
}
/*.slider-container .slider-tooltip:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: -9px;*/
    /*left: 50%;*/
    /*margin-left: -10px;*/
    /*display: block;*/
    /*border-left: solid 10px transparent;*/
    /*border-right: solid 10px transparent;*/
    /*border-top: solid 10px #1e3958;*/
    /*z-index: 2;*/
/*}*/
.slider-container .slider-tooltip span{
    display: block;
    background-color: rgba(28,28,28,0.9);
    border-radius: 2px;
    padding: 5px 9px;
}
/*.slider-container .slider-bars {*/

/*}*/

.ui-widget.ui-widget-content {
    background: none;
    border: none;
}

.slider-container .slider-bars .slider-drag{
    /*margin-top: 13px;*/
    height: 3px;
    width: 100%;
    /*border: solid 1px rgba(207,65,60,0.1);*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    z-index: 1;
}
.slider-container .slider-bars .slider-drag:before{
    content: ' ';
    height: 33px;
    width: 104%;
    left: -2%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

#progress-behind{
    height: 3px;
    width: 100%;
    background: rgba(255,255,255,0.5);
    /*border: solid 1px rgba(207,65,60,0.1);*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#video-progress:hover + #progress-behind{
    -ms-transform: scale(1,1.9);
    -webkit-transform: scale(1,1.9);
    transform: scale(1,1.9);
}
#video-progress:hover .ui-widget-header {
    /*background: rgba(110,194,194,1);*/
    -ms-transform: scale(1,1.9);
    -webkit-transform: scale(1,1.9);
    transform: scale(1,1.9);
}

#video-progress:hover .ui-slider-handle{
    display: block;
}

/*.slider-container .slider-bars .slider-drag:hover .ui-slider-handle {*/

    /*-ms-transform: scale(1,0.6);*/
    /*-webkit-transform: scale(1,0.6);*/
    /*transform: scale(1,0.6);*/

/*}*/

/*#progress-behind{*/
    /*height: 3px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto 0;*/
    /*background-color: rgba(255,255,255,0.5);*/
    /*-ms-transform: scale(1,4);*/
    /*-webkit-transform: scale(1,4);*/
    /*transform: scale(1,4);*/
/*}*/


.slider-container .slider-bars .ui-slider-handle {
    /* width: 5px; */
    /*border-radius: 50%;*/
    /*top: -0.5em;*/

    width: 12px;
    height: 12px;
    border-radius: 6px;
    /*margin-top: -1px;*/
    background: #fff;
    display: none;
}

.slider-container .slider-bars .ui-state-default,
.slider-container .slider-bars .ui-widget-content .ui-state-default,
.slider-container .slider-bars .ui-widget-header .ui-state-default,
.slider-container .slider-bars .ui-state-default,
.slider-container .slider-bars .ui-widget-content .ui-state-default,
.slider-container .slider-bars .ui-widget-header .ui-state-default,
.slider-container .slider-bars .ui-widget-header {
    /*background: rgba(183,202,77,1);*/
    background: #f12b24;
    border-color: transparent;
    cursor: pointer;
}
.slider-container .slider-bars .ui-widget-header {
    /*background: rgba(110,194,194,1);*/
    background: #fcb501;
}

/* -! time display */
.time-display{
    /* font-size: 109%; */
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 70px;
}

/*.sad{*/
    /*max-width: 200px;*/
    /*top: 252px;*/
    /*left: 82px;*/
/*}*/
/*.ytp-tooltip.ytp-preview {*/
    /*padding: 2px;*/
    /*background-color: rgba(28,28,28,0.9);*/
    /*border-radius: 2px;*/
/*}*/
/*.asfsa{*/
    /*width: 92.6667px;*/
    /*height: 54px;*/
    /*background: url("https://i9.ytimg.com/sb/VutUDmwClJU/storyboard3_L2/M0.jpg?sigh=xqnPE7G0QASP3w6VqvZh9t72_CI") -192px -108px / 480px 270px;*/
/*}*/









/* -! view controls */

#audioplayer .view-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 75;
}

#audioplayer .view-controls .options {
    display: flex;
    height: 70px;
    width: 100%;
    /*background-image: linear-gradient(transparent 0%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.4) 100%);*/
    color: #fff;
    box-sizing: border-box;
    padding: 0 8px;
    align-items: center;
}

#audioplayer.unlock{
    bottom: -60px;

    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#audioplayer.unlock:hover{
    bottom: -1px;
}

.tray-button {
    height: 70px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}
.tray-button > span {
    font-size: 16px;
    font-weight: 500;
}
.tray-button > *:not(:last-child) {
    margin-right: 16px;
}
.tray-button > i {
    cursor: pointer;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}



/* hide menu */

.mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.tray-menu {
    width: 35px;
    margin: 0 auto;

    color: rgba(0,0,0,0.87);
}
.tray-menu {
    position: absolute;
    font-size: 14px;
    text-align: center;

    width: 40px;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 0.2s ease;
}
.tray-menu.open {
    transform: scale(1);
}


.mdl-card.op-volume {
    min-height: 100px;
}
.op-volume {
    position: absolute;
    width: 40px;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 0.2s ease;
}
#op-volume:hover .op-volume, #op-volume:active .op-volume {
    transform: scale(1);
}


#video-volume{
    height: 64px;
    width: 3px;
}

#video-volume.slider-container {
     margin: auto auto;
}
#video-volume.slider-container .slider-bars .ui-widget-header {

    background: #fcb501;
    width: 2px;
}
#video-volume.slider-container .slider-bars .slider-drag {
    /*margin-top: 13px;*/
    height: 100%;
    width: 3px;
    /*border: solid 1px rgba(207,65,60,0.1);*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    z-index: 1;
}
#video-volume.slider-container .slider-bars .slider-drag:before{
    content: ' ';

    height: 100%;
    width: 2px;
    /*border: solid 1px rgba(207,65,60,0.1);*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

#vl-progress-behind{
    height: 100%;
    width: 2px;
    background: rgba(0,0,0,0.2);
    /*border: solid 1px rgba(207,65,60,0.1);*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/*#vl-progress:hover + #vl-progress-behind{*/
    /*-ms-transform: scale(1.9,1);*/
    /*-webkit-transform: scale(1.9,1);*/
    /*transform: scale(1.9,1);*/
/*}*/
/*#vl-progress-behind:hover .ui-widget-header {*/
    /*-ms-transform: scale(1.9,1);*/
    /*-webkit-transform: scale(1.9,1);*/
    /*transform: scale(1.9,1);*/
/*}*/




.tray-menu .row {
    /* width: 100%; */
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    height: 30px;
    /* width: 14px; */
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    box-sizing: border-box;
}
.tray-menu .row.lg {
    height: 72px;
}

.tray-menu .clickable {
    cursor: pointer;
}
.tray-menu .clickable .grow {
    font-size: 13px;
    margin-left: 5px;
}


.tray-menu .final {
    border-bottom: none;
}

#op-volume{
    cursor: pointer;
    padding: 20px 0;
}




















.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 0.8em;
    overflow: hidden;
    padding-top: 1px;
    background: rgba(0,0,0,0.5);

    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}
.footer > a {
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 0 10px 0;
    text-transform: uppercase;
    line-height: 11px;
    height: 10px;
    margin: 10px 0;
    float: left;
}
.footer > a:last-child {
    border-right: none;
}

























/*!------------------------------------------- responsive */

@media screen and (max-width: 950px){

    header {
        height: 93px;
    }
    header .nav, header .menu {
        /*display: none;*/
        width: initial;
    }
    header .menu{
        float: left;
    }
    .site-branding{
        width: 60px;
        height: 60px;
    }
    .search {
        height: 60px;
        width: calc(100% - 140px);
    }
    #search ul li:first-child {
        width: calc(100% - 68px);
    }
    #search input[type=search] {
        width: 100%;
    }
    .nav > ul > li:first-child, .nav > ul > li:nth-child(2) {
        display: none;
    }

    .menu > ul > li > a {
        padding: 7px 20px;
    }

    .nav ul li:last-child > a {
        font-weight: initial;
        max-width: 240px;
        color: #fcb501;
        background: #fff;
    }
    .nav ul li:last-child > a:hover {
        background: none;
    }

    .wrapper {
        margin-top: 93px;
    }
}

@media screen and (max-width: 890px){
    #audioplayer .cover {
        display: none;
    }
    #audioplayer .player-bar {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 760px){
    #audioplayer .cover {
        display: none;
    }
    #audioplayer .player-bar {
        margin-left: 0;
        width: 100%;
    }
    .play-console {
        width: 100%;
    }
    .play-progress-bar{
        width: calc(100% - 180px);
    }
    #play-progress-container {

        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    header .nav {
        position: absolute;
        right: 0;
    }
    header .menu {
        text-align: center;
    }
    .menu > ul{
        float: none;
        display: inline-block;
    }
    header .menu {
        width: 100%;
    }
    .nav ul li:last-child > a {
        padding: 0 10px;
        border-left: 1px solid #fcb501;
        border-bottom: 1px solid #fcb501;
        border-bottom-left-radius: 8px;

    }
    .menu > ul > li > a {
        padding: 7px 15px;
    }
}
@media screen and (max-width: 430px) {
    .wrapper {
        padding-bottom: 170px;
    }
    .footer {
        height: auto;
    }
    .footer > a {
        border-right: none;
        width: 100%;
        text-align: center;
    }
}

