

section:after, section:before {
    display: table;
    content: " ";
}
section:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.feed{
    background: #151515;
}

.feed > section{
    /*border-bottom: 1px solid #EBEBEB;*/
    border-bottom: 1px solid #1f1f1f;
    padding-bottom: 10px;
}
.feed > section:last-child{
    border-bottom: none;
}

.owl-carousel .owl-stage {
    padding: 5px 0;
}
.owl-nav{
    float: right;
}
.owl-nav > div{
    float: left;
    padding: 5px 20px;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #1f1f1f;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    margin: 10px 5px;
}
.owl-carousel.owl-loading {
    min-height: 150px;
    background: url(../owl.carousel/dist/assets/ajax-loader.gif) no-repeat center center;
}