:-webkit-full-screen {
    /* properties */
}

:-moz-full-screen {
    /* properties */
}

:-ms-fullscreen {
    /* properties */
}

/*:full-screen { !*pre-spec *!*/
    /*!* properties *!*/
/*}*/

:fullscreen { /* spec */
    /* properties */
}

/* deeper elements */
:-webkit-full-screen video {
    width: 100% !important;
    height: 100% !important;
}





/* styling the backdrop*/
::backdrop {
    /* properties */
}
::-ms-backdrop {
    /* properties */
}


.wrapper {
    top: 82px;
    margin-top: 0;
    padding-bottom: 0;

}
.footer{
    display: none;
}


.page-watch{
    height: calc(100vh - 82px);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
.player-container{
    text-align: center;
    /*width: 800px;*/
    margin: 0 auto;


}

.watch-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100%;

    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari */
    transform: scale(1.02);

    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.watch-pattern {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/brushed-alum-dark.png");
}

#player{


}

#player.unlock{
    top: 50%;
}

.watch-container{


    position: absolute;
    top: calc(50% - 35px);
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);


    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

}




.watch-container.full-screen{

    top: inherit;
    left: inherit;
    /* bring your own prefixes */
    transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);

}



ul.watch-content{
    display: block;
    list-style-type: disc;
    padding-left: 15px;

    white-space: normal;
    word-wrap: break-word;
}

.icon-button {
    margin: 5px;
    line-height: 30px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-button img{
    max-width: 50px;
}




.socialIcon {
    height: 15px;
    width: 30px;
}

.socialLinks {
    /*overflow: hidden;*/
    /**zoom: 1;*/
    /*display: inline-block;*/
    /*margin: 80px 0 0 0;*/
}
.socialLinks a {
    display: block;
    background: transparent;
    border: 1px solid black;
    color: #000;
    float: left;
    height: 30px;
    margin: 5px;
    position: relative;
    -moz-transition: background 0.1s linear, border 0.1s linear;
    -o-transition: background 0.1s linear, border 0.1s linear;
    -webkit-transition: background 0.1s linear, border 0.1s linear;
    transition: background 0.1s linear, border 0.1s linear;
    width: 30px;
}
.socialLinks a .socialIcon {
    left: 50%;
    margin: -7px 0 0 -15px;
    position: absolute;
    top: 50%;
}

.socialLinks .facebook:hover {
    background: #3b5998;
    border-color: #3b5998;
    fill: #fff;
}
.socialLinks .googleplus:hover {
    background: #dd4b39;
    border-color: #dd4b39;
    fill: #fff;
}
.socialLinks .linkedin:hover {
    background: #1d87be;
    border-color: #1d87be;
    fill: #fff;
}
.socialLinks .pinterest:hover {
    background: #cc2229;
    border-color: #cc2229;
    fill: #fff;
}
.socialLinks .twitter:hover {
    background: #55acee;
    border-color: #55acee;
    fill: #fff;
}
.socialLinks .youtube:hover {
    background: #e52c28;
    border-color: #e52c28;
    fill: #fff;
}






#op-set{
    display: none;
}


/*!------------------------------------------- responsive */

@media screen and (max-width: 1150px){

    .content, .side-menu.-left{
        position: relative;
        float: right;
        width: 100%;
    }
    .content {
        left: auto;
        padding-bottom: 15%;
    }

    .page-watch{
        padding: 40px 20px;
        height: auto;
    }
    .watch-container {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0,0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);

        padding-bottom: 56.25%;
    }
    #audioplayer {
        /*min-width: 450px;*/
    }
    #player {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
    }

    .side-menu.-left {
        top: 10px;
        padding-bottom: 6px;
        height: auto;
    }
    #navmenu:after, #navmenu:before {
        display: table;
        content: " ";
    }
    #navmenu:after {
        clear: both;
    }
    .slider-container {
        margin: 0 15px;
    }
    .tray-button > *:not(#op-set) {
        display: none;
    }
    .tray-button > *:not(:last-child) {
         margin-right: 0;
    }

    #op-set{
        display: block;
    }

}
